&pinctrl {
    /* Define the Active State */
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 11)>,  /* SDA: P0.11 */
                    <NRF_PSEL(TWIM_SCL, 1, 4)>;   /* SCL: P1.04 */
        };
    };

    /* Define the Low-Power Sleep State */
    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 11)>,
                    <NRF_PSEL(TWIM_SCL, 1, 4)>;
            low-power-enable;
        };
    };
};

&i2c0 {
    status = "okay";
    /* Point to BOTH default and sleep states to satisfy Nordic's pinctrl engine */
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    
    clock-frequency = <100000>; 

    lis3dh: lis3dh@19 {
        compatible = "st,lis3dh", "st,lis2dh";
        reg = <0x19>;
        
        /* Interrupt pin on P0.31 */
        irq-gpios = <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        anym-on-int1; 
    };
};